.bigBookmark {
  border: 1px solid #214bc8;
  height: 45px;
  line-height: 45px;
  width: 100%;
  margin-bottom: 25px;
  padding-left: 5px;
  font-size: 20px;
  text-align: left;
  cursor: pointer;
}
.bigBookmark__triangle {
  width: 0px;
  height: 0px;
  border-top: 21.5px solid transparent;
  border-left: 33.5px solid transparent;
  border-right: 33.5px solid #214bc8;
  border-bottom: 21.5px solid transparent;
  float: right;
}

@media (max-width: 600px) {
  .bigBookmark {
    height: 22px;
    margin-bottom: 11px;
    font-size: 11px;
    line-height: 22px;
  }
  .bigBookmark__triangle {
    border-top: 10px solid transparent;
    border-left: 11px solid transparent;
    border-right: 15px solid #214bc8;
    border-bottom: 10px solid transparent;
  }
}
.categorybox {
  min-width: 240px;
  width: 100%;
  aspect-ratio: 3/4;
  border: 1px solid;
  display: flex;
  flex-direction: column;
}
.categorybox__header {
  height: 24px;
  padding: 0 15px;
  border-bottom: 1px solid;
  font-size: 11px;
  text-align: right;
  line-height: 24px;
}
.categorybox__header-editbtn {
  background-color: transparent;
  color: rgba(128, 128, 128, 0.6);
  border-style: none;
  font-size: 11px;
  cursor: pointer;
}
.categorybox__header-editbtn:hover {
  color: #214bc8;
}
.categorybox__header-pencil {
  display: none;
}
.categorybox__header-text {
  padding-left: 5px;
}
.categorybox__view {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 35px 5px 0 15px;
  background-color: white;
}
.categorybox__view::-webkit-scrollbar {
  width: 10px;
}
.categorybox__view::-webkit-scrollbar-thumb {
  height: 10%;
  background-color: rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
  border-right: 3px solid transparent;
  border-top: 35px solid transparent;
}
.categorybox__view::-webkit-scrollbar-track {
  background-color: white;
}
.categorybox__bookmark {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 11px;
  padding-left: 5px;
  width: auto;
  height: 24px;
  font-size: 11px;
  text-align: left;
  line-height: 24px;
}
.categorybox__bookmark.current {
  opacity: 0.3;
}
.categorybox__bookmark:hover {
  transform: scale(1.01, 1.01);
}
.categorybox__bookmark-textcontainer {
  flex: 1;
  cursor: grab;
}
.categorybox__bookmark-text {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  flex: 1;
}
.categorybox__bookmark-ellipsis {
  display: none;
}
.categorybox__bookmark-editbtn {
  background-color: transparent;
  border-style: hidden;
  line-height: 20px;
  color: transparent;
  cursor: pointer;
}
.categorybox__bookmark-editbtn:hover {
  color: gray;
}
.categorybox__bookmark-triangle {
  cursor: grab;
  width: 0px;
  height: 0px;
  border-top: 11px solid transparent;
  border-left: 17.5px solid transparent;
  border-right: 17.5px solid;
  border-bottom: 11px solid transparent;
  z-index: 0;
  margin-left: -10px;
}
.categorybox__bookmark-triangle:active {
  cursor: grabbing;
}
.categorybox__footer {
  height: 35px;
}

@media (max-width: 834px) {
  .categorybox {
    border: 1px solid;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .categorybox {
    max-width: 300px;
  }
  .categorybox__header {
    text-align: center;
  }
  .categorybox__header-editbtn, .categorybox__bookmark-editbtn {
    display: none;
  }
  .categorybox__bookmark-ellipsis {
    display: initial;
    text-align: center;
    color: rgba(0, 0, 0, 0.2);
    width: 23px;
    font-size: 15px;
    cursor: pointer;
  }
  .categorybox__bookmark-ellipsis:hover {
    color: #214bc8;
  }
  .categorybox__header-pencil {
    display: initial;
    float: right;
    cursor: pointer;
  }
  .categorybox__header-pencil:hover {
    color: #214bc8;
  }
}
.bottomPopup__plusBtn,
.bottomPopup__wrapper {
  display: none;
}

@media (max-width: 600px) {
  #root {
    overflow: hidden;
  }

  .bottomPopup__wrapper {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s ease;
    background: transparent;
  }
  .bottomPopup__background {
    width: 100%;
    flex: 3;
  }
  .bottomPopup__plusBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 64px;
    height: 40px;
    background: #ffffff;
    border: 0.5px solid #c4c4c4;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.05);
  }
  .bottomPopup__contentsBackground {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(252, 253, 255, 0.836);
    box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .bottomPopup__text {
    height: 100px;
    text-align: center;
    line-height: 50px;
  }
}
.sidebar__collectInputBox {
  padding-bottom: 120px;
}

.sidebar__collectInputBox,
.bottomPopup__collectInputBox {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__input, .sidebar__input--url,
.bottomPopup__input,
.bottomPopup__input--url {
  border-radius: 0;
  border: 1px rgba(0, 0, 0, 0.5) solid;
  width: 80%;
  padding-left: 8px;
  font-size: 16px;
  font-family: "IBM Plex Mono";
  background: white;
}
.sidebar__input:hover, .sidebar__input:focus, .sidebar__input--url:hover, .sidebar__input--url:focus,
.bottomPopup__input:hover,
.bottomPopup__input:focus,
.bottomPopup__input--url:hover,
.bottomPopup__input--url:focus {
  border: 1px rgba(0, 0, 0, 0.5) solid;
  outline: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.sidebar__input::placeholder, .sidebar__input--url::placeholder,
.bottomPopup__input::placeholder,
.bottomPopup__input--url::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.sidebar__select:hover,
.bottomPopup__select:hover {
  border: 1px rgba(0, 0, 0, 0.5) solid;
  outline: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.sidebar__input,
.bottomPopup__input {
  margin-bottom: 15px;
  height: 36px;
}
.sidebar__input--url,
.bottomPopup__input--url {
  height: 180px;
}
.sidebar__customizingSection,
.bottomPopup__customizingSection {
  width: 80%;
  height: 20px;
  margin: 17px 0px;
  display: flex;
}
.sidebar__colorPick,
.bottomPopup__colorPick {
  width: 90px;
  display: flex;
}
.sidebar__color-circle--blue, .sidebar__color-circle--green, .sidebar__color-circle--red,
.bottomPopup__color-circle--blue,
.bottomPopup__color-circle--green,
.bottomPopup__color-circle--red {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  margin-right: 8px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 9px;
  line-height: 20px;
  text-overflow: unset;
}
.sidebar__color-circle--blue:hover, .sidebar__color-circle--green:hover, .sidebar__color-circle--red:hover,
.bottomPopup__color-circle--blue:hover,
.bottomPopup__color-circle--green:hover,
.bottomPopup__color-circle--red:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.sidebar__color-circle--blue,
.bottomPopup__color-circle--blue {
  background-color: #214bc8;
}
.sidebar__color-circle--blue.active,
.bottomPopup__color-circle--blue.active {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0;
  background-color: #214bc8;
  margin-right: 8px;
  box-shadow: 0 0 0 2px white, 0 0 0 3px black;
}
.sidebar__color-circle--green,
.bottomPopup__color-circle--green {
  background-color: #0eae61;
}
.sidebar__color-circle--green.active,
.bottomPopup__color-circle--green.active {
  box-shadow: 0 0 0 2px white, 0 0 0 3px black;
}
.sidebar__color-circle--red,
.bottomPopup__color-circle--red {
  background-color: #f24626;
}
.sidebar__color-circle--red.active,
.bottomPopup__color-circle--red.active {
  box-shadow: 0 0 0 2px white, 0 0 0 3px black;
}
.sidebar__importantPick,
.bottomPopup__importantPick {
  flex: 1;
  text-align: right;
}
.sidebar__btnSection,
.bottomPopup__btnSection {
  width: 80%;
  display: inline-block;
  text-align: unset;
}
.sidebar__btn,
.bottomPopup__btn {
  width: 70px;
  height: 36px;
  border: 1px rgba(0, 0, 0, 0.5) solid;
  background-color: transparent;
  font-size: 16px;
  font-family: "Noto Sans KR";
  cursor: pointer;
}
.sidebar__btn.left,
.bottomPopup__btn.left {
  float: left;
}
.sidebar__btn.right,
.bottomPopup__btn.right {
  float: right;
}
.sidebar__btn:hover,
.bottomPopup__btn:hover {
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .bottomPopup__collectInputBox {
    width: 80%;
  }
}
.collectview {
  background: white;
  display: flex;
  height: 120vh;
  width: 100vw;
  padding-top: 80px;
}
.collectview__right {
  flex: 1 1;
  padding-right: 6%;
  padding-left: 6%;
  display: flex;
  flex-direction: column;
}
.collectview__title {
  padding-top: 64px;
  padding-bottom: 24px;
  font-size: 36px;
  color: #214bc8;
}
.collectview__nav {
  display: grid;
  grid-template-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  height: 70px;
}
.collectview__alarm {
  grid-column-start: 1;
  grid-column-end: 6;
  height: 40px;
  line-height: 40px;
  background-color: #EBFF9D;
  text-align: center;
  cursor: pointer;
}
.collectview__search {
  grid-column-start: 7;
  grid-column-end: 8;
  display: flex;
  justify-content: flex-end;
}
.collectview__searchBar {
  width: 100%;
  height: 40px;
  border-radius: 0;
  border: 1px rgba(0, 0, 0, 0.3) solid;
  padding-left: 10px;
  padding-right: 40px;
  margin-right: -40px;
  font-size: 16px;
  font-family: "IBM Plex Mono";
}
.collectview__searchBar:focus {
  border: 1px rgba(0, 0, 0, 0.3) solid;
  outline: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.collectview__searchBar::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.collectview__searchBtn {
  height: 40px;
  width: 40px;
  border-style: none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}
.collectview__searchBtn:hover {
  color: #214bc8;
}
.collectview__bookmarks {
  grid-area: bookmarks;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 30px;
  height: calc(720px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.collectview__bookmarks::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 1440px) {
  .collectview__nav {
    display: grid;
    grid-template-columns: 1fr 30px 1fr 30px 1fr;
  }
  .collectview__alarm {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .collectview__search {
    grid-column-start: 5;
    grid-column-end: 6;
  }
  .collectview__bookmarks {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 834px) {
  .collectview__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 93px;
    justify-content: space-between;
  }
  .collectview__alarm {
    width: 100%;
    height: 38px;
    font-size: 2.3vw;
    text-overflow: clip;
  }
  .collectview__search {
    width: 100%;
  }
  .collectview__bookmarks {
    margin-top: 25px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .collectview__title {
    display: none;
  }
  .collectview__right {
    justify-content: initial;
    padding: 0;
  }
  .collectview__nav {
    margin-top: 88px;
    height: 93px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .collectview__alarm {
    width: 300px;
  }
  .collectview__search {
    width: 300px;
    height: 38px;
    line-height: 38px;
  }
  .collectview__bookmarks {
    margin-top: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: none;
    grid-template-rows: none;
  }
}
.error {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: #5d5e5f;
}
.error__toHomeBtn {
  color: #214bc8;
}
/*# sourceMappingURL=../maps/App.css.map */
