@import "./util";

.bigBookmark {
  border: 1px solid #{$blue};
  height: 45px;
  line-height: 45px;
  width: 100%;
  margin-bottom: 25px;
  padding-left: 5px;
  font-size: 1.5vw;
  text-align: left;
  cursor: pointer;

  &__triangle {
    width: 0px;
    height: 0px;
    border: {
      top: 21.5px solid transparent;
      left: 33.5px solid transparent;
      right: 33.5px solid #{$blue};
      bottom: 21.5px solid transparent;
    }
    float: right;
  }
}

.favoritebookmark{
  cursor:default;
}

@include tablet{
  .favoritebookmark{
    font-size: 1.9vw;
  }
}

@include mobile {
  .bigBookmark {
    height: 22px;
    margin-bottom: 11px;
    font-size: 11px;
    line-height: 22px;
    &__triangle {
      border: {
        top: 10px solid transparent;
        left: 11px solid transparent;
        right: 15px solid #{$blue};
        bottom: 10px solid transparent;
      }
    }
  }
}
