@import './util';

.categoryReally {
  &__container {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0);
    margin: 0 auto;
    background-color: white;
    z-index: 1;
    width: 280px; //공통 가로 길이
    height: 200px;
    border: 1px solid #{$logocolor};
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    width: 200px;
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
  }

  &__Btns {
    width: 200px;
    height: 35px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__noBtns {
    width: 80px;
    background-color: #{$blue};
    border: 1px solid #{$blue};
    color: #c4c4c4;
    &:hover {
      cursor: pointer;
      color: white;
    }
  }

  &__yesBtns {
    width: 80px;
    border: 1px solid red;
    color: red;
    background: white;
    &:hover {
      cursor: pointer;
      background: red;
      color: white;
    }
  }
}
