@import "./util";

.collectview {
  //background: white;
  display: flex;
  height: 120vh;
  width: 100vw;
  padding-top: 80px;

  &__right {
    flex: 1 1;
    padding: {
      right: 6%;
      left: 6%;
    }
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding: {
      top: 64px;
      bottom: 24px;
    }
    font-size: #{$headerfont};
    font-weight: 700;
    color: #{$blue};
  }

  &__nav {
    display: grid;
    grid-template-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
    height: 70px;
  }

  &__alarm {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 6;
    height: 45px;
    line-height: 45px;
    transform: translateY(-2px);
    background-color: #e2fc61;
    text-align: center;
    cursor: pointer;
    color: #{$blue};
    font-size: 90%;
    font-weight: 600;
    border-radius: 15px;
    .jello-horizontal {
      margin-right: 8px;
      // -webkit-animation: 0.9s jello-horizontal infinite both;
      // animation: 0.9s jello-horizontal infinite both;
      // animation-timing-function: ease-in-out;
    }
  }

  &__search {
    grid-column-start: 7;
    grid-column-end: 8;
    display: flex;
    justify-content: flex-end;
  }

  &__searchBar {
    width: 100%;
    height: 40px;
    border-radius: 0;
    border: 1px rgba(0, 0, 0, 0.3) solid;
    padding-left: 10px;
    padding-right: 40px;
    margin-right: -40px;
    font-size: 16px;
    font-family: "IBM Plex Mono";

    &:focus {
      border: 1px rgba(0, 0, 0, 0.3) solid;
      outline: 0;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  &__searchBtn {
    height: 40px;
    width: 40px;
    border-style: none;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      color: #{$blue};
    }
  }
  &__thereIsNothingText {
    position: relative;
    height: 0;
    top: 20%;
    color: #{$blue};
    filter: grayscale(1) opacity(0.5);
    font-weight: 500;
    text-align: center;
    font-size: 20px;
  }

  &__bookmarks {
    grid-area: bookmarks;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 30px;

    height: calc(720px);
    overflow: {
      y: scroll;
      x: hidden;
    }

    &::-webkit-scrollbar {
      width: 0px;
    }

    .loading {
      color: #{$logocolor};
      height: 350px;
      text-align: center;
      line-height: 350px;
    }
  }
}
@include laptop {
  .collectview {
    &__nav {
      display: grid;
      grid-template-columns: 1fr 30px 1fr 30px 1fr;
    }

    &__alarm {
      grid-column-start: 1;
      grid-column-end: 4;
    }

    &__search {
      grid-column-start: 5;
      grid-column-end: 6;
    }

    &__bookmarks {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@include tablet {
  .collectview {
    &__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 93px;
      justify-content: space-between;
    }

    &__alarm {
      width: 100%;
      height: 38px;
      text-overflow: clip;
    }

    &__search {
      width: 100%;
    }

    &__bookmarks {
      margin-top: 25px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include mobile {
  .collectview {
    &__title {
      display: none;
    }

    &__right {
      justify-content: initial;
      padding: 0;
    }

    &__nav {
      margin-top: 30px;
      height: 93px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    &__alarm {
      width: 300px;
      font-size: 80%;
      word-spacing: -5px;
    }

    &__search {
      width: 300px;
      height: 38px;
      line-height: 38px;
    }

    &__bookmarks {
      margin-top: 17px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      grid-template-columns: none;
      grid-template-rows: none;
    }
  }
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
