@import "./util.scss";

@include mobile{
  //sectionslice//
  .landing {
    .sectionslice {
      margin-top: 13vh;
      .triangle {
        border-top: 2.5vh solid transparent;
        border-right: 4vh solid #{$logocolor};
        border-bottom: 2.5vh solid transparent;
      }
    }

    .slicegreen {
      .triangle {
        border-right: 4vh solid #{$green};
      }
    }

    .slicered-left {
      border: solid 1px #{$red};
      border-left: none;
      .triangle {
        border-right: 4vh solid #{$red};
      }
    }

    .slicered {
      margin-top: 8%;
      .triangle-right {
        width: 0px;
        height: 0px;
        border-top: 2.5vh solid transparent;
        border-left: 4vh solid #{$red};
        border-bottom: 2.5vh solid transparent;
      }
    }

    .sliceblue {
      .triangle-right {
        border-top: 2.5vh solid transparent;
        border-left: 4vh solid #{$logocolor};
        border-bottom: 2.5vh solid transparent;
      }
    }
  }

  
  .landing {
    
    &__inner--first {
      align-items: center;
      //border: solid 1px black;
      margin-top: 25%;
      .first-wrap {
        display: flex;
        flex-direction: column;
        .introtext {
          text-align: center;
          h1 {
            font-size: 10vw;
          }
          p {
            font-size: 3.5vw;
          }
          button {
            display: none;
          }
        }
        img {
          width: 100%;
          margin-left: 0;
          margin-top: 5%;
          //border: solid;
        }

        .mobile-introtext {
          display: flex;
          flex-direction: column;
          align-items: center;

          button {
            font-family: "IBM Plex Mono";
            width: 55vw;
            padding: 3% 0;
            font-size: 4.5vw;
            margin-top: 18%;
            padding: 4.3% 0;
            background-color: #{$logocolor};
            border: none;
            color: white;
            text-align: center;

            &:hover {
              cursor: pointer;
              box-shadow: #{$btnboxshadow};
            }
          }
        }
      }
    }
  }

  //inner-second//
  .landing {
    &__inner--second {
      .desc-wrap {
        flex-direction: column;
        align-items: center;
      }
      .desc-wrap--1,
      .desc-wrap--2,
      .desc-wrap--3 {
        img {
          width: 53vw;
          margin-top: 0;
          order: 2;
        }
        p {
          margin-top: 15%;
          order: 1;
          text-align: center;
          font-size: 3.7vw;
        }
      }

      .desc-wrap--1 {
        p {
          margin-top: 2%;
          margin-left: 15vw;
        }
        img {
          margin-left: 7%;
        }
      }

      .desc-wrap--2 {
        img {
          margin-top: 4%;
          width: 70%;
        }
      }
      .desc-wrap--3 {
        img {
          margin-left: 5%;
        }
      }
    }
  }

  //inner-third//
  .landing {
    &__inner--third {
      margin-top: 28%;
      h1 {
        font-size: 4.2vw;
        margin: 0 auto;
      }

      .desc {
        margin-top: 13%;
        &__inner {
          display: flex;
          flex-direction: column;
          img {
            width: 75%;
          }

          .desc-text {
            margin: 0;
            text-align: center;

            h2 {
              margin-top: 40px;
              font-size: 4.3vw;
            }
            p {
              font-size: 3.4vw;
              margin-top: 5px;
            }
            a {
              font-size: 3.3vw;
              line-height: 1rem;
            }
          }
        }
      }

      .desc-dragdrop {
        margin-top: 18%;

        .drag-top-desc {
          font-size: 2.7vw;
        }

        img {
          width: 90%;
          margin-right: 1%;
        }

        &__desc {
          width: 90%;

          font-size: 4.3vw;
          word-spacing: -5px;
        }
      }
    }
  }
  //inner-fourth//
  .landing {
    &__inner--fourth {
      margin-top: 13%;
      display: flex;
      flex-direction: column;
      .alarm-wrapper {
        .alarm {
          min-width: 80%;
          height: 60px;
          font-size: 3vw;
          line-height: 60px;
          margin: 0 auto;
        }
      }

      .alarm-desc-wrapper {
        flex-direction: column;
        width: 83vw;
        .alarm-img {
          //background-color: rgb(170, 170, 47);
          width: 75vw;
          margin-left: 5vw;
        }
        .alarm-desc {
          order: 2;
          text-align: center;
          &__inner {
            h2 {
              font-size: 4.5vw;
            }
            p {
              //background-color: green;
              white-space: initial;
              font-size: 3.6vw;
            }
            a {
              font-size: 3.6vw;
            }
          }
        }
      }
    }
  }

  //inner-fifth//
  .landing {
    &__inner--fifth {
      //background-color: rgb(216, 79, 79);
      width:100vw;
      .profile-wrapper{
        //transform: scale(1.1);
        //width:fit-content;
        display:block;
        //border:solid;
        //width:initial;
        //margin-left:0;
        margin-top:10%;
        
        //background-color: rgb(161, 167, 124);
        .landing__searchProfile{
          //margin:30px;
          margin-bottom:5%;
          margin-left:7.5%;
          width:40%;
          &__profileImage{
            font-size: 12vw;
          }
          p{
            font-size: initial;
          }
          &:nth-child(1){
            float: left;
            //color:red;
            margin-right:5%;
            
          }
          &:nth-child(3){
            float:left;
            //color:green;
            margin-top:0;
            margin-right:5%;
          }

        }

      }

      .collection-desc{
        margin-top:3%;
        font-size: 4.7vw;
        a{
          word-spacing: -5px;
          font-size: 3.7vw;
        }
      }
    }
  }

  //inner-sixth//
  .landing {
    &__inner--sixth {
      //background-color: yellowgreen;

      .try-wrapper {
        font-size: 5vw;
      }

      .values-wrapper {
        margin-bottom: 12%;

        &__up {
          flex-direction: column;
          align-items: center;

          .values-up {
            margin-top: 3%;
            width: 57vw;
            font-size: 3.5vw;
          }
        }
        &__down {
          margin-top: 0;
          flex-direction: column;
          align-items: center;
          .values--down {
            margin-top: 3%;
            width: 57vw;
            font-size: 3.5vw;
          }
        }
      }

      .button-bottom {
        width: 56vw;
        font-size: 4.5vw;
        margin-left: 1.1%;
      }
    }
  }
}
