@import './util.scss';

.nav-container {
	position: fixed;
	z-index: 2;
	width: 100vw;
	height: 80px;
	background-color: rgba(255, 255, 255, 0.836);
	border-bottom: solid 1px rgba(119, 119, 119, 0.425);
	box-shadow: 0px 8px 8px rgba(233, 229, 229, 0.267);
	align-items: center;

	&__logo {
		float: left;
		width: 90px;
		padding: 0;
		height: 100%;
		text-indent: -9999px;
		margin-left: 6vw;
		background-image: url('./logo.png');
		background-repeat: no-repeat;
		background-size: 95px auto;
		background-position: center;

		&:hover {
			transform: scale(1.02); /*  default */
			-webkit-transform: scale(1.02); /*  크롬  */
			-moz-transform: scale(1.02); /* FireFox */
			-o-transform: scale(1.02); /* Opera */
		}
	}

	&__inner-container {
		float: right;
		line-height: 80px;
		font-weight: 800;
		width: 50%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-right: 7vw;

		a {
			color: #000;
			margin-left: 3%;
			text-decoration: none;

			&:hover {
				color: #{$logocolor};
				cursor: pointer;
			}
		}
		div:hover {
			// Link=>를 div태그로 변경하여 추가
			cursor: pointer;
			color: #{$logocolor};
		}
	}
	.toggle-btn {
		display: none;
	}
}

body {
	@include tablet {
		.nav-container {
			&__inner-container {
				width: 55vw;
				&__login-container {
					width: 35%;
				}
			}
		}
	}
	@include mobile {
		.nav-container {
			height: auto;
			padding: 8px 10px;
			&__logo {
				display: flex;
				text-indent: -9999px;
				margin-left: 10px;
				padding: 5%;
				height: auto;
				background-size: 98% auto;
			}

			.toggle {
				display: none;
				a {
					margin-left: 0;
				}
				div:hover {
					cursor: pointer;
					color: #{$logocolor};
				}
			}

			.toggle.on {
				display: flex;
				justify-content: space-around;
				width: 92vw;
				border-top: solid 1px rgba(119, 119, 119, 0.425);
				margin-right: 2vw;
				margin-top: 1%;
				font-size: 2.6vw;
				a {
					display: flex;
				}
				div:hover {
					cursor: pointer;
					color: #{$logocolor};
				}
				// .nav-container__inner-container__login-container{
				//   color:red;
				//   width:32%;
				// }
			}
			.toggle-btn {
				display: flex;
				float: right;
				margin-right: 6vw;
				margin-top: 16px;
				width: 6vw;
				height: 6vw;
				color: rgb(69, 69, 70);

				&:hover {
					cursor: pointer;
					color: #{$logocolor};
				}
			}
		}
	}
}
