@import './util';

.notification {
  &__container {
    font-size: 1rem;
    position: fixed;
    z-index: 999999;
    top: 90px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &__toast {
    background: #{$blue};
    transition: 4s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    color: black;
    opacity: 0.9;
    font-weight: 600;
    text-align: center;
    height: 40px;
    line-height: 10px;
    width: fit-content;
    min-width: 300px;
    color: #fff;
    padding: 15px;
    margin: 10px;

    &.fade-out {
      opacity: 0;
      transform: opacity 0.3s;
    }
  }
}
