@import "./util";

.recollect {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 100vh;
  height: fit-content;
  padding-top: 80px;
  &__toCollectBtn {
    position: fixed;
    top: 94px;
    left: 15vw;
    font-size: 30px;
    cursor: pointer;
    &:hover {
      color: #{$blue};
    }
  }
  &__title {
    padding: {
      top: 64px;
      bottom: 64px;
    }
    font-size: #{$headerfont};
    font-weight: 700;
    color: #{$blue};
  }

  &__bookmarks {
    width: 36vw;
    min-width: 530px;
    margin-bottom: 40px;
    .skeleton {
      font-size: 20px;
      height: 30vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .logoPng {
        font-size: 15px;
        width: 40px;
        height: 40px;
      }
      p {
        color: rgb(189, 186, 186);
        text-align: center;
      }
    }
  }
}

@include tablet {
  .recollect {
    &__toCollectBtn {
      top: 80px;
      left: 5vw;
    }
  }
}

@include mobile {
  .recollect {
    &__toCollectBtn {
      left: 15vw;
      font-size: 22px;
    }
    &__title {
      padding: {
        top: 100px;
        bottom: 35px;
      }
      font-size: 22px;
      color: #{$blue};
    }

    &__bookmarks {
      width: 71vw;
      min-width: 200px;
    }
  }
}
