@import './util';

.searching {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  &__bookmarks {
    width: 36vw;
    min-width: 500px;
    margin-bottom: 30px;

    .skeleton {
      font-size: 20px;
      height: 30vh;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        color: #{$blue};
        filter: grayscale(1) opacity(0.5);
        font-weight: 500;
        text-align: center;
      }
    }
  }
}

@include mobile {
  .searching {
    &__bookmarks {
      width: 71vw;
      min-width: 200px;
      .skeleton {
        font-size: 14px;
      }
    }
  }
}
