@import "./util";
/* Slider */
.slick-slider {
  @include mobile {
    width: 60%;
    // background-color: orange;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  position: relative;
  box-sizing: border-box;
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;

  .slick-initialized & {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
